* {
    font-family: Lato;
}

:root {
    --primary-color: #327463;
    --secondary-color: #2f3e46;
    --background-color: #cad2c5;
    --accent1-color: #354f52;
    --accent2-color: #333;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.8rem;
    color: var(--accent2-color);
}

.hamburger {
    background: none;
    border: none;
    color: var(--accent2-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    border-top: solid 1px #eee;
    font-weight: 600;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--accent2-color);
    text-decoration: none;
    border-bottom: solid 1px var(--accent2-color);
}

.navigation li.current {
    background-color: var(--background-color);
}

.navigation a:hover {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}

h1 {
    margin-left: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.menu button {
    padding: .7rem 2rem;
    border: .5px solid var(--accent1-color);
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;

}

.menu button:hover {
    background-color: var(--background-color);
    color: var(--accent2-color);
}

#cards a {
    color: var(--primary-color);
    font-weight: 700;
}

#cards.grid {
    display: block;
    margin: 1rem;
}

#cards.grid section {
    border: 2px solid var(--background-color);
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0px 6px 8px 0px var(--background-color);
    min-height: 320px;
}

#cards.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    text-align: left;

}

#cards.list section {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    background-color: #eee;
    min-height: auto;
}

#cards.list img {
    display: none;
}

#cards.list h2 {
    margin-top: 0;
}

#cards p {
    margin: 3px;
}

/* home page css */
.hero {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.hero-btn {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 1.5rem;
    font-weight: 700;
    font-size: larger;
    border: none;
    border-radius: 6px;
    box-shadow: 6px 6px 8px 0px var(--accent1-color);
    cursor: pointer;
}

article {
    display: block;
    padding-bottom: 1.5rem;
    text-align: center;
}

.events,
.current-weather,
.forecast {
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.events h2,
.current-weather h2,
.forecast h2 {
    height: 56px;
    background-color: var(--primary-color);
    color: white;
    padding: 0 0 0 1rem;
    margin: 0%;
    align-content: center;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.events h2 {
    grid-column: 1/4;
}

.events p {
    margin: 0 0 1rem;
    padding: 3px;
}

.current-weather figure {
    margin: 0%;
}

.current-weather #current-temp {
    font-weight: 700;
    font-size: large;
    padding-bottom: 1rem;
}

.current-weather p {
    margin: 0 0 0 1rem;
    padding: .2rem;
}

.forecast p {
    font-weight: 700;
    font-size: large;
}

#spot-cards {
    margin-bottom: 1rem;
}

.spot-card {
    text-align: center;
    border: solid 1px var(--accent2-color);
    margin: 0 1rem 1rem;
}

.spot-card img {
    max-width: 50%;
    height: auto;
}

/* home page css */

footer {

    background-color: var(--accent2-color);
    padding: 1rem;
    align-items: center;
    color: white;
    font-weight: 600;
}

footer h3 {
    margin-bottom: 7px;
}

footer .contact {
    padding-bottom: 1.5rem;
}

footer .personal {
    padding: 1.5rem 0;
}

footer p {
    margin: 3px;
    margin-left: 0;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #9ddfce solid 2px;
    border-radius: 6px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 28px;
    height: 28px;
}

.social a:hover {
    background-color: rgb(21, 31, 56);
}