@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    #cards.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    article {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    #spot-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }

    #spot-cards p {
        padding: 0 10px;
    }

    .join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .join-page h1 {
        grid-column: 1/3;
    }

    #places-cards section {
        grid-template-areas:
            "title title"
            "image description"
            "image address"
            "button button";
    }

    #places-cards figure img:hover {
        box-shadow: 5px 10px 15px var(--accent2-color);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }


}