html {
    line-height: 1.15;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    height: 0;
    color: inherit;
}

abbr[title] {
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

button,
input,
select,
textarea {
    font: inherit;
}

[hidden] {
    display: none !important;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}