@media (min-width: 768px) {
    nav {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
    }

    #menu-toggle {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .about {
        grid-column: 1;
    }

    .photo {
        grid-column: 2;
    }

    .courses {
        grid-column: span 2;
    }

    .filters {
        flex-direction: row;
        justify-content: center;
    }

    #course-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }

    .course-card {
        width: 30%;
        text-align: center;
    }
}